body{
	text-align:center;
	font-size:20px;
}
.login_div{
	border-style:solid;
	border-width:2px;
}
.login_border{
	padding-right:30%;
	padding-left:30%;
	background-color:#FEFBF6;
}
.login_form{
	padding-top:20px;
	padding-bottom:60px;	
}
.login_submit{
	width:190px;
	height:30px;
	font-weight:bolt;
	font-size:20px;
	background-color:#387ADF;
}
.create_accout{
	width:190px;
	height:30px;
	font-weight:bolt;
	font-size:20px;
	background-color:#387ADF;
}
.email_login{
	width:190px;
	height:30px;
}
.password_login{
	width:190px;
	height:30px;
}


	