body{
    margin: 0;
    color: white;

}


.footer {
    
    height :230px;
    background-color: white;
    border: 3px solid black;
    border-top: none;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
 }
    



 .fpart1{
    grid-column: 1;
    background-color:white;
    border-right: 3px solid black;  
 }



 .fpart2{
    grid-column: 2;
    background-color: white;
    border-right: 3px solid black;
 }

 .fpart3{
    grid-column: 3;
    background-color:white;
 }
 


.inner1{
    display: grid;
    grid-template-columns: 12vw 17vw;
}

.image{
    grid-column: 1;

}
.image img{
    margin-top: 10px;
    margin-left: 30px;
    width:140px;
    height: 130px;
}
.aboutus{
    margin-top: 10px;
    grid-column: 2;
    
}

.inner2{
    display: grid;
    grid-template-rows: 10vh 10vh;
}

.socialmeadia{
    grid-row: 1;
    
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw 8vw;
}

.fb{
   grid-column: 1;
   border-radius: 50%; 
   

}
.insta{
    grid-column: 2;

}
.mail
{
    grid-column: 3;

}
.linkdn{
    grid-column: 4;

}
.whatsapp{
    grid-column: 5;

}
.fb,.insta,.mail,.linkdn,.whatsapp{
   display: flex;
   justify-content: center;
   align-items: center;
   

}

.inner2 img{
    width:40px;
    height:40px;
    border: none;
    padding: 0;
    margin-left:5px;
    border-radius: 10px; 
    overflow: hidden;

}
.quicklinks{


    justify-content: center;
    grid-row: 2;
    display: grid;
    grid-template-columns: 8vw 8vw 8vw ;

}
 a{
    color:rgb(57, 232, 130);

}
.map{
    padding: 4px;
}

quick1{
    grid-column: 1;

}
quick2{
    grid-column: 2;
}

quick3{
    grid-column: 3;
    
}

.inner3{
    display: grid;
    grid-template-columns: 12vw 15vw;
    
}
.details{
    grid-column: 1;
    display: grid;
    grid-template-rows: 10vh 10vh 6vh;
    justify-content: center;
    align-items: center;
}
.map{
    grid-column: 2;
    
    
}

.map iframe {
    width : 180px;
    height:180px;
    margin: 20px; /* Add 20 pixels of margin around the iframe */
    border: 2px solid #ccc; /* Add a 2 pixel solid border around the iframe */
    border-radius: 8px; /* Add a border radius to make the corners rounded */
}

.address{
    grid-row: 2;

}
.tel{
     grid-row: 1;
}
.contactus{

    grid-row: 3;
}



/*---------------------------------------------COLORS------------------------------------------------------------------------------------*/
.part1,.brand,.nav,.rightcon , .fpart1,.fpart2,.fpart3,.image,.aboutus{
    background-color: rgb(102, 28, 241);
}