.part1 {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    height: 20%;
}

.part2 {
    display: flex;
    flex-direction: row;
    background-color: rgb(6, 34, 34);
    height: 10%;
}

.content {
    display: flex;
    flex-direction: row;
    background-color: rgb(172, 218, 57);
    height: 40%;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(33, 199, 27);
    height: 30%;
}

.header {
    display: flex;
    flex-direction: row;
}

.imgbook {
    flex: 1;
    background-color: rgb(230, 15, 86);
}

.brand {
    flex: 2;
    background-color: rgb(80, 58, 220);
}

.nav {
    flex: 3;
    background-color: rgb(68, 202, 112);
}

.rightcon {
    flex: 4;
    background-color: rgb(140, 158, 158);
}

.imgbook img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 2px;
}
