*{box-sizing:border-box}
body{font-family:Verdana, sans-serif;
     background-color:#292929;
     color:#D9D9D9;}
.mySlides{display:none}
img{vertical-align:middle}

.slideshow-container{max-width:1000px;
                     position:relative;
                     margin:auto}

.text{font-size:15px;
      padding:8px 12px;
      position:absolute;
      bottom:8px;
      width:100%;
      text-align:center}

.numbertext{font-size:12px;
            padding:8px 12px;
            position:absolute;
            top:0}

.dot{height:15px;
     width:15px;
     margin:5px 2px;
     background-color:#D9D9D9;
     border-radius:50%;
     display:inline-block;
     transition:background-color 0.6s ease}

.active{background-color:#717171}
      
.fade{animation-name:fade;
      animation-duration:1.5s}
      
@keyframes fade{from{opacity:.4} 
                to{opacity:1}}

@media only screen and (max-width:300px) {.text{font-size:11px}}

.caption{border:3px solid #D9D9D9;
         font-size:30px;
         font-weight:bold}

table{width:100%;
      border-collapse:collapse}

.table{overflow-y:auto;
       max-height:250px}

.scroll-container{border:3px solid #D9D9D9;
                  overflow-x:auto;
                  white-space:nowrap;
                  padding:10px}
      
.scroll-container .book{padding:10px;
                        display:inline-block}